.content-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}

.content-users {
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

ul {
    list-style-type: none;
}

.content-users-list {
    border-radius: 30px;
    background-color: #d7def2;
    padding: 15px;
}

.content-users-item {
    min-height: 150px;
    background-color: #fcfdff;
    border-radius: 30px;
}