.content-filter-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    background-color: #d7def2;
    min-height: 150px;
    padding: 15px;

}

.content-filter-item {
    display: flex;
    padding: 5px;
}

.content-filter-item-checkbox:checked::before {
    border-color: #07274d;
    background-color: #083971;
}